---
- name: Install asdf with desired plugins
  hosts: all
  gather_facts: yes

  roles:
    - name: "markosamuli.asdf"
      asdf_init_shell: false
      asdf_plugins:
        - name: nodejs # bash ~/.asdf/plugins/nodejs/bin/import-release-team-keyring
          versions:
            - "17.4.0"
        - name: python
          versions:
            - "3.10.2"
        - name: ruby
          versions:
            - "3.1.0"
