---
- name: Install terminal environment
  hosts: all
  gather_facts: no

  vars:
    topsecret_repo: "git@gitlab.com:mauriciovieira/top-secret.git"
    topsecret_path: "~/Repositories/gitlab.com/mauriciovieira/top-secret"
    vscode_settings: "templates/Library/ApplicationSupport/Code/User/settings.json"
    vscode_settings_path: "~/Library/Application Support/Code/User/"
    screenshots_path: "~/Pictures/Screenshots"

    packages:
      - ag
      - autojump
      - certbot
      - cmake
      - composer
      - ffmpeg
      - ghc
      - gifsicle
      - git
      - git-flow-avh
      - gnu-indent
      - heroku
      - htop
      - hub
      - imagemagick
      - jq
      - mosh
      - parity
      - passpie
      - pv
      - pyenv
      - pyenv-virtualenv
      - pyenv-virtualenvwrapper
      - shellcheck
      - terminal-notifier
      - wget
      - yarn
      - zlib
      - zsh
      - zsh-completions

    cask_packages:
      - java
      - ngrok
      - vagrant
      - virtualbox

    rubygems:
      - travis

    unwanted_packages:
      - docker-compose
      - docker-machine
      - htop-osx

    # todo:
    #   - rvm
    #   - nvm
    #   - yadr

  tasks:
    - name: Ensure {{ topsecret_path }} exists
      file: path={{ topsecret_path }} state=directory

    - name: Clone / update top-secret repository
      git: repo={{ topsecret_repo }} dest="{{ topsecret_path }}" version=master

    - name: Install top-secret stuff
      shell: chdir="{{ topsecret_path }}" make install

    - name: Uninstall Homebrew packages
      homebrew: name={{ unwanted_packages }} state=absent

    - name: Install Homebrew packages
      homebrew: name={{ packages }} state=latest

    - name: Install ruby gems
      gem: name={{ item }} state=present
      with_items: "{{ rubygems }}"

    - name: Install Homebrew Cask packages
      homebrew_cask: name={{ item }} state=installed
      with_items: "{{ cask_packages }}"

    - name: Ensure {{ screenshots_path }} exists
      file: path={{ screenshots_path }} state=directory

    - name: Set screenshots location
      shell: defaults write com.apple.screencapture location {{ screenshots_path }}

    - name: Install vscode settings
      copy: src="{{ vscode_settings }}" dest="{{ vscode_settings_path }}" mode=0640

  # roles:
  #   - role: voboshi.ansible-role-nvm-macos
  #     nvm:
  #       version: v0.33.2
  #       node_version: '8.7.0'
